---
---

//@import "{{ site.theme }}";
@import "jekyll-theme-midnight";

body {
    background: linear-gradient(#000000, #1c1c1c);
    color: #ffffff;
}


#header {
  z-index: 100;
  left:0;
  top: 0px;
  height: 20px;
  width: 100%;
  position: fixed;
  background: url(../images/nav-bg.gif) #353535;
  border-bottom: 4px solid #434343;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);

  nav {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 10px;
    background: blue;
    margin: 6px auto;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        list-style: none;
        display: inline;
        color: white;
        line-height: 50px;
        text-shadow: 0px 1px 0px rgba(0,0,0,.2);
        font-size: 14px;

        a {
          color: white;
          border: 1px solid #5d910b;
          background: linear-gradient(#93bd20, #659e10);
          border-radius: 2px;
          box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);

          background-color: #93bd20;
          padding: 10px 12px;
          margin-top: 6px;
          line-height:14px;
          font-size:14px;
          display:inline-block;
          text-align:center;

          &:hover {
            background: linear-gradient(#749619, #527f0e);
            background-color: #659e10;
            border: 1px solid #527f0e;
            box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
          }
        }

        &.fork {
          float: left;
          margin-left: 0px;
        }

        &.downloads {
          float: right;
          margin-left: 6px;
        }

        &.title {
          float: right;
          margin-right: 10px;
          font-size: 11px;
        }
      }
    }
  }
}

#footer {
  z-index: 100;
  left:0;
  top: 0px;
  height: 20px;
  width: 100%;
  position: fixed;
  background: url(../images/nav-bg.gif) #353535;
  border-top: 4px solid #434343;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);

  nav {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 10px;
    background: blue;
    margin: 6px auto;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        list-style: none;
        display: inline;
        color: white;
        line-height: 50px;
        text-shadow: 0px 1px 0px rgba(0,0,0,.2);
        font-size: 14px;

        a {
          color: white;
          border: 1px solid #5d910b;
          background: linear-gradient(#93bd20, #659e10);
          border-radius: 2px;
          box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);

          background-color: #93bd20;
          padding: 10px 12px;
          margin-top: 6px;
          line-height:14px;
          font-size:14px;
          display:inline-block;
          text-align:center;

          &:hover {
            background: linear-gradient(#749619, #527f0e);
            background-color: #659e10;
            border: 1px solid #527f0e;
            box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
          }
        }

        &.fork {
          float: left;
          margin-left: 0px;
        }

        &.downloads {
          float: right;
          margin-left: 6px;
        }

        &.title {
          float: right;
          margin-right: 10px;
          font-size: 11px;
        }
      }
    }
  }
}
